.gallery {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    flex-wrap: wrap;
    background: #F7F7F7;
}

@media all and (max-width: 812px) {
.gallery{
    width: 100%;
}
}