.banner_apropos{
    display: flex;
    width: 95%;
    margin: 30px 32px;
    border-radius: 25px;
    filter: brightness(70%);
}
 
.aboutCollapse {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutCollapse__div {
    font-weight: 400;
    font-size: 24px;
    color: #FF6060;
    margin-bottom: 20px;
    width: 70%;
}

@media all and (max-width: 812px) {
    .banner_apropos {
        width: 95%;
        margin: auto;
        height: 223px;
        object-fit: cover;
	}

    .about{
        justify-content: center;
    }
    .aboutCollapse{
        display: inherit;
    width: 100%;
    }
}