body {
    font-family: 'Open Sans', sans-serif, 'Montserrat';
  }

.banner_home {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .banner_img {
    width: 95%; 
    border-radius: 25px;
    filter: brightness(70%);
  }
 
  .banner_title {
    position: absolute; 
    font-size: 49px;
    color: white;
    font-weight: 100; 
  }

  @media all and (max-width: 812px) {

    .banner_home {
      position: relative; 
      
    }
    .banner_title {
      width: 50%;
      font-size: 24px;
   
  }
  .banner_img {
    width: 95%;
    margin: 0;
    height: 97px;
    object-fit: cover;
  }
    
  }
