.staring {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
}

.star{
    display: flex;
    font-size: 54px;
    margin-right: 10px;
    height: 25%;
    width: 13%;
}

@media all and (max-width: 812px) {
    .staring{
        width: 47%;
        justify-content: flex-start;
    }
}