.collapse {
  width: 100%;
}

.collapse__title {
  position: relative;
  background-color: #FF6060;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 300;
}

.collapse__title--txt {
  color: white;
  font-size: 24px;
  padding: 20px;
}

.collapse__title--btn {
  padding-right: 20px;
}

.collapse__content {
  display: flex;
  border-radius: 5px;
  text-decoration: none;
  color: red;
  font-size: 12px;
  font-weight: 300;
}

.collapse__content--content {
  list-style: none; 
  background-color: #F6F6F6; 
  padding: 20px 22px;
  margin-top: -5px;
  width: 95%;
  font-weight: 300;
  border-radius: 10px;
}

@media all and (max-width: 812px) {
  .aboutCollapse {
    margin: 20px 0;
}

  .collapse__title{
    width: 122%;
    margin-left: 7px;
  }
  .collapse__content--content{
    padding-right: 95px;
  }
  .collapse__title--txt{
    font-size: 13px;
    padding: 0;
  }
}